.home{
  text-align: center;
  overflow: hidden;
  height: 80vh;
  position: relative;
  background-image: url('https://selina-res.cloudinary.com/image/upload/if_iw_gt_1848,c_scale,w_1848/e_sharpen:80,q_auto:good/f_auto/v1/s-cf-1/xdw7oj4u3s4v/1hjNsclX0zMKujrf3LIJSs/3f8a7d1db9fbc5fd6be5a7b0bbcaac22/6._Red_Frog.jpg');
  background-position: center;
  background-size: cover;
  img{
    width: 100%;
  }
  h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    padding: 40px;
    font-size: 40px;
  }
}
