.header{
  height: 100px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
}
.logo{
  border: none;
  width: 100px;
}
.locationsDropdown{
  cursor: pointer;
  position: relative;
  &:hover .countriesList{
      display: block;
  }
}
.countriesList{
  display: none;
  position: absolute;
  right: 0;
  height: 200px;
  overflow: auto;
  border: 1px solid #000;
  background-color: #fff;
  list-style-type: none;
  text-align: center;
  padding: 0 10px;
  li{
    padding: 5px;
  }
}