header{
  height: 5vh;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 9px;
  .logo{
    width: 70px;
    outline: none;
  }
  .locationsDropdown{
    cursor: pointer;
    position: relative;
    &:hover .countriesList{
      display: block;
    }
  }
  .countriesList{
    display: none;
    padding: 0;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 9px;
    z-index: 1;
    right: 0;
    top: 10px;
    height: 500px;
    width: 250px;
    overflow: auto;
    border-radius: 5px;
    background-color: #fff;
    padding: 0 10px;
    border: 1px solid #ccc;
    h3{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
      text-align: center;
    }
    li{
      list-style-type: none;
      padding: 10px 5px;
    }
  }
}